* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background-page {
  background-color: #DADBD4;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#green-bar {
  height: 100px;
  width: 100%;
  background-color: #1D9688;
}

.container {
  min-width: 500px;
  max-width: 1180px;
  height: calc(100vh - 30px);
  z-index: 99;
  margin: 15px auto 0 auto;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/* Dimensioni menu sx */
.user-menu-left {
  width: 30%;
  height: 100%;
  border-right: 1px solid #DADADA;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* Dimensioni chat dx */
.chat-right {
  width: 70%;
  height: 100%;
}

/* Classi div info USER */
.user-menu-left .user {
  height: 70px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
}

.user {
  flex-shrink: 0;
}

.user-data {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-left: 10px;
}

.user-data img {
  height: 100%;
  border-radius: 50px;
  margin-right: 10px;
}

.btn-user {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.btn-user .fa-solid {
  margin-left: 18px;
  font-size: 22px;
  color: #B1B1B1;
  cursor: pointer;
}

/* Classi div Notifiche Desktop */
.desktop-msg {
  height: 80px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.desktop-msg .bell-icon {
  height: 50px;
  width: 50px;
  background-color: #fff;
  color: #8EDAFC;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.desktop-msg .txt-desktop p {
  font-size: 14px;
}

.desktop-msg .txt-desktop span a {
  font-size: 13px;
  color: #578194;
}

/* Search Input */
.search {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  padding: 0 6px 0 6px;
  flex-shrink: 0;
}

.search .fa-solid {
  position: absolute;
  margin-left: 10px;
  color: #B6B9BB;
}

.search input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  border: none;
}

/* LISTA Chat disponibili */

.chat-list {
  flex-grow: 1;
  background-color: #FAFAFA;
  overflow-y: auto;
}

.wrapper {
  height: 100%;
  width: 96%;
  border-right: 1px solid #DADADA;
}

.chat-user {
  height: 80px;
  display: flex;
  background-color: #FAFAFA;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #F0F0F0;
}

.chat-user:hover {
  background-color: #E9EBEB;
  cursor: pointer;
}

.chat-user .propic-chat {
  height: 50px;
}

.propic-chat img {
  height: 100%;
  border-radius: 50px;
}

.chat-text {
  height: 50px;
  width: 70%;
  margin-left: 20px;
}

.top-text {
  display: flex;
  justify-content: space-between;
}

.top-text .time-date {
  color: #B7BABC;
  font-size: 12px;
}

.bottom-text {
  font-size: 12px;
  color: #B7BABC;
  margin-top: 5px;
}

/* CLASSI SEZIONE CHAT MOSTRATA A DX */

.data-chat-showed {
  height: 70px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
}

.info-current-chat {
  height: 50px;
  width: 100%;
}

.current-chat-propic {
  height: 50px;
  margin-right: 13px;
  margin-left: 10px;
}

.current-chat-propic img {
  border-radius: 50px;
  height: 100%;
}

.current-last-acc, .hour-access {
  font-size: 12px;
  color: grey;
  margin-top: 1px;
}

.chat-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  font-size: 22px;
}

.chat-btn .fa-solid {
  margin-left: 18px;
  color: #B1B1B1;
  cursor: pointer;
}

/* Sezione messaggi chat aperta */

.msg-section {
  height: calc(100% - 140px);
  background-image: url('../img/mine.jpg');
  background-position: center;
  background-repeat: repeat;
  overflow-y: auto;
  scroll-behavior: smooth;

  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.msg-wrap {
  min-width: 85%;
}

.msg-send:after {
  display: table;
  clear: both;
  content: "";
}

.my-msg {
  background-color: #D5F9BA;
  float: right;
}

.hour-msg {
  color: grey;
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}

.msg-box {
  width: 300px;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 12px;
}

.msg-other {
  background-color: #fff;
}

/* SEZIONE INVIO MESSAGGIO */
.input-msg {
  height: 70px;
  background-color: #F3EEEA;
  position: fixed;
  width: calc(1180px - 354px);
  display: flex;
  align-items: center;
}

.input-msg div {
  height: 50px;
}

.input-msg .emoticon, .audio {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #6B7377;
}

.input-msg .send-msg {
  width: 90%;
  display: flex;
  align-items: center;
}

.send-msg input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border: none;
  border-radius: 5px ;
}